/* html5doctor.com Reset v1.6.1 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/*
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #fff;
	background-color: #000;
}
*/

.center{
	text-align: center;
}

.startShareBtn {
	background: url(../images/start_share.png) center center no-repeat;
	background-size: 100% 100%;
	width: 10em;
	height: 10em;
	border: none;
}

.nextBtn {
	background: url(../images/next_button.png) center center no-repeat;
	background-size: 100% 100%;
	width: 5em;
	height: 5em;
	border: none;
}

.mainPage {
	background: url(../images/main_bk.png) center bottom no-repeat;
	background-size: 100% auto;
}

.homeToolbar{
	background: #d2d2d2;
	border-top: 1px solid #ffffff;
}


.homeShreaList img {
	width:48px;
	height:48px;
}
.homeShreaList{
	height:4em;
	line-height:4em;
	border-right: 1px solid #585858;
	vertical-align: middle;
}

.homeProfile img {
	width:48px;
	height:48px;
}
.homeProfile{
	height:4em;
	line-height:4em;
	border-left: 1px solid #ffffff;
	vertical-align: middle;
}

.homeProfile-label{
	height:4em;
	line-height:4em;
	vertical-align: middle;
}

.homeShreaList-label{
	height:4em;
	line-height:4em;
	vertical-align: middle;
}