/* html5doctor.com Reset v1.6.1 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/*
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #fff;
	background-color: #000;
}
*/

.center {
	text-align: center;
}

.start-share-button {
	background: url(../images/start_share.png) center center no-repeat;
	background-size: 100% 100%;
	width: 10em;
	height: 10em;
	border: none;
}

.next-button {
	background: url(../images/next_button.png) center center no-repeat;
	background-size: 100% 100%;
	width: 5em;
	height: 5em;
	border: none;
}

.main-page {
	background: url(../images/main_bk.png) center bottom no-repeat;
	background-size: 100% auto;
}

.home-toolbar {
	background: #d2d2d2;
	border-top: 1px solid #ffffff;
}

.home-share-label {
	display: block;
	margin: auto;
	text-align: right;
	line-height: 4em;
	height: 4em;
	vertical-align: middle;
	background: url(../images/share_list.png) left center no-repeat;
	background-size: 2em;
	width: 6.5em;
}
.home-share {
	border-right: 1px solid #585858;
	vertical-align: middle;
}
.home-profile-label {
	display: block;
	margin: auto;
	text-align: right;
	line-height: 4em;
	height: 4em;
	vertical-align: middle;
	background: url(../images/profile.png) left center no-repeat;
	background-size: 2em;
	width: 6.5em;
}
.home-profile {
	border-left: 1px solid #ffffff;
	vertical-align: middle;
}
.contract-order {
	background: #f0f0f0;
}
.contract-order-item {
	background: #f0f0f0;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	height: 3em;
	line-height: 3em;
	text-align: center;

}

.contract-list {
}
.contract-list-item {
	clear: both;
	display: block;
	border-bottom: solid 1px #f0f0f0;
}
.contract-list-item .image {
	float: left;
	background: #000 url(../images/contract_default.png) center center no-repeat;
	background-size: 100% 100%;
	display: block;
	width: 48px;
	height: 48px;
	margin: 6px;
	border: solid 1px #333;
}

.contract-list-item .name {
	font-size: 1.2em;
	display: block;
	padding: 10px 0px 4px 0px;
	width: 10em;
}

.contract-list-item .mobile {
	display: block;
	font-size: 0.9em;
	width: 15em;
}

.contract-list-item .checked {
	display: block;
	float: right;
	background: url(../images/contract_check.png) center center no-repeat;
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
	margin-top: 15px;
	margin-right: 6px;
}

.contract-list-item .nochecked {
	display: block;
	float: right;
	background: url(../images/contract_nocheck.png) center center no-repeat;
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
	margin-top: 15px;
	margin-right: 6px;
}

.contract-page {
	background: #fff;
}


